# R and RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Blogdown cache and output directories
/public/
/resources/
/static/rmarkdown-libs/

# Hugo files
hugo_binary/
blogdown/

# Windows files
Thumbs.db
